@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 100vh;
    background: #ffffff;
}
.card
{
    position: relative;
    width: 30%;
    height: auto;
    background: #f0f0f0;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.25);
    text-align: left;
    overflow: hidden;
    padding: 20px;
    color: #000000;
    z-index: 2;
    margin: 10px 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 5px;
    z-index: 50;
}
.card:hover
{
    -webkit-box-shadow: 0 0 80px rgba(0, 0, 0, 0.45);
            box-shadow: 0 0 80px rgba(0, 0, 0, 0.45);
    background: #ffffff;
}
.card .imgBox
{
    width: 100%;
    margin: 60px 0;
}
.card .imgBox img
{
    width: 100%;
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
}
.card .textBox h1
{
    font-size: 2em;
}
.card .textBox p
{
    font-size: 1.35em;
}
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 50px;
}
@media(max-width: 991px)
{
    .card
    {
        width: 45%;
    }
}
@media(max-width: 768px)
{
    body
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .card
    {
        width: 90%;
    }
    .card .textBox h1
    {
        font-size: 1.25em;
    }
    .card .textBox p
    {
        font-size: 1em;
    }
}